body {
  margin: 0;
  height: 100vh;
}

main {
  height: 100vh;
  overflow: auto;
}

.box {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.first {
  background-color: lavender;
}

.second {
  background-color: aliceblue;
}

.moveable {
  position: relative;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
}

.move {
  left: 5rem;
}
